.movie-list {
  // margin-top:2rem;
  margin-bottom:2rem;
  h1 {
    font-size: 5rem;
  }
  .movie-item{
    // margin-right: 1.5rem;    
    margin-top:1rem;
  }
  .card-content {
    padding: 1rem;
  }

  .card-header {
    .thumb {
      width: 50%;
      padding:1rem;
      margin: auto auto;
    }
  }

  .is-purple {
    background: #4B0082;
  }

  .is-orange {
    background: #FF4500;
  }

  .is-red {
    color:red!important;
  }
}

h1 {
  font-size: 1.5rem;
}